.App {
     background-image: url("http://thistlecreekhoneycompany.appspot.com/Images/honeybottlesunset.jpg");
          height: 100%;
          background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
}

.HeaderLinks {
    vertical-align: top;
    padding-top: 5px;
    overflow: hidden;
        display: inline;
    width: 100%;
}

.HeaderLinks a {
    padding-left: 75px;
}

.HeaderImage {
    display: inline;
    text-align: left;
}

.LinkBar {
    display: inline;
    text-align: center;
    width: 100%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.clickableLinks {
  color: #61dafb;

    align: top;
    font-size: 16pt;
    vertical-align: top;
display: inline-block;
  margin: 0 auto;
  padding: 3px;
}

.AppBody {

    height: 500%;
}

body {
    background-color: #DEDEFF;
}



.App-header {
    background-color: #ffffff;
      border: 1px solid black;
      opacity: 0.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.App-header h1 {
    margin: 5%;
      font-weight: bold;
      color: #000000;
}

.App-link {

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

