.App {
     /*background-image: url("http://thistlecreekhoneycompany.appspot.com/Images/honeybottlesunset.jpg");*/
          height: 10%;
          background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
}

.column {
    float: left;
    width: 45%;
    font-size: 19px;
    color: #282828;
    padding-left: 22px;
}

.column h2 {
        font-family: "Palatino Linotype";
                text-decoration: underline;
                font-size: 36px;
                color: #088A08;
}

.gridPicture {
    width: 100%;
}

.gridPicture img {
    width: 60%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.HeaderTitle {
    color: #088A08;
    font-weight: bold;
    font-size: 50pt;
    font-family: "Palatino Linotype";
    display: flex;
    padding-left: 75px;
}

.HeaderLinks {
    vertical-align: top;
    padding-top: 5px;
    overflow: hidden;
        display: inline-block;
    width: 70vw;
    display: inline-block;
}

.HeaderLinks a {
    padding-left: 75px;
}

.HeaderImage img {
    float: left;
    padding-left: 22px;
    display: inline-block;
}

.HeaderMain {
    width: 100vw;
}

.LinkBar {
    display: inline-block;

    width: 100%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.clickableLinks {
  color: #61dafb;

    align: top;
    font-size: 16pt;
    vertical-align: top;
display: inline-block;
  margin: 0 auto;
  padding: 3px;
}

.AppBody {
    height: 500%;
}

.TipTitle {
    font-family: "Palatino Linotype";
        text-decoration: underline;
        font-size: 18px;
        color: #088A08;
        padding-left: 22px;
}

.TipText h3 {
    font-family: "Palatino Linotype";

        font-size: 20pt;
        color: #088A08;
        padding-left: 22px;
}


.TipText {
    text-indent: 15px;
    padding-left: 15px;
    font-size: 18px;
    padding-left: 22px;
}

.TipText p {
    font-family: "Palatino Linotype";
    font-size: 17pt;
padding-left: 22px;
}

body {
    background-color: #DEDEFF;
}

.AboutText {
       padding-left: 30px;
       width: 40%;
       display: inline-block;
       font-size: 16pt;
}

.partnerLink1 {
    display: inline-block;
    margin: 30px;
}

.HomeImage img {
    object-fit: cover;
    width: 100vw;
}

.partnerLink2 {
    display: inline-block;
    margin: 30px;
    float: right;
    max-width: 100%;
}

.partners {
    height: 350px;
}

.AboutImage {
       float: right;
       padding-right: 10px;
       width: 32%;
       display: inline-block;
}

/*.MainContent {
    height: 200px;
}*/

.AboutImage img {
    max-width: 50%;

}

.footer {
    background-color: #DEDEFF;
    height: 70px;
    font-family: "Franklin Gothic Medium";
    padding-left: 22px;
}

.footerName {
    font-size: 12pt;
    color: #088A08;
}

.footerEmail {
    font-size: 12pt;
    color: #088A08;
}

.footerFacebook {
    padding-right: 10px;
    margin-top: 10px;
}

.facebookImage {
    height: 36px;
    width: 36px;
}

.App-header {
    background-color: #f0f0ff;
      border: 1px solid black;
      opacity: 0.6;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.App-header h1 {
    margin: 5%;
      font-weight: bold;
      color: #000000;
}

.App-link {

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

